/*----------------------
  .menubar
----------------------*/
.menubar {
  float: none;
}

/*body {
  content: url(../img/logo_okiraku.png);
}*/

#freewall {
  margin-left: auto;
}

nav {
  background: #27282c;
  padding: 20px;
  width: auto;
  margin-bottom: 16px;
}

.sponsored {
  margin: 0 auto 16px;
}