/*----------------------
  COMMON
----------------------*/
body {
  font-family: Tahoma, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  /*font-family: 'Kozuka Gothic Pro B', 'Hiragino Kaku Gothic ProN';*/
  margin: 16px;
  background: #EE8322;
  color: #262626;
}

h2 {
  /*font-family: 'Arial Black';*/
  color: #EE8322;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.link_hover:hover {
  opacity: 0.8!important;
}

.img_box {
  background: #EE8322;
}

.s_size_01 {
  width: 196px;
  height: 196px;
}

.s_size_01 img {
  width: 100%;
}

.m_size_01 {
  width: 196px;
  height: 400px;
  /*バックグラウンドで画像を表示させるとき*/
/*  background: url("../img/dammy/1.png");
  -moz-background-size:cover;
  background-size:cover;*/
}

.m_size_01 img{
  height: 100%;
}

.m_size_02 {
  width: 400px;
  height: 196px;
}

.m_size_02 img{
  width: 100%;
}

.l_size_01 {
  width: 400px;
  height: 400px;
}

.l_size_01 img {
  width: 100%;
}

#freewall {
  margin-left: 252px;
}


/*----------------------
  .menubar
----------------------*/
.menubar {
  float: left;
}

nav {
  background: #27282c;
  padding: 20px;
  width: 196px;
  margin-bottom: 16px;
}

nav img{
  width: 100%;
  margin-bottom: 9%;
}

nav li {
  position: relative;
  color: #FEF4F3;
  background: #000000;
  padding: 9.5% 0;
  margin-bottom: 1px;
}

nav li:first-child {
  -webkit-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}

nav li:last-child {
  -webkit-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  margin-bottom: 0;
}

nav li:hover {
  opacity: 0.7;
}

nav p {
  text-align: center;
}

.sponsored {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: 196px;
}

.sponsored h2 {
  margin-bottom: 10px;
}

.sponsored img {
  width: 100%;
}