/*----------------------
  COMMON
----------------------*/
html {
  font-family: 'Kozuka Gothic Pro B', Georgia, Helvetica, Tahoma;
}

body {
  margin: 24px;
  background: #EE8322;
  color: #262626;
}

h2 {
  font-family: 'Arial Black';
  color: #EE8322;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.link_hover:hover {
  opacity: 0.8!important;
}

.s_size_01 {
  width: 196px;
  height: 196px;
}

.m_size_01 {
  width: 196px;
  height: 400px;
  /*バックグラウンドで画像を表示させるとき*/
/*  background: url("../img/dammy/1.png");
  -moz-background-size:cover;
  background-size:cover;*/
}

.m_size_02 {
  width: 400px;
  height: 196px;
}

.m_size_03 {
  width: 604px;
  height: 196px;
}

.l_size_01 {
  width: 400px;
  height: 400px;
}

.img_box {
  background: #EE8322;
}

.img_box img {
  /*height: auto;*/
  /*height: 100%;*/
  width: 100%;
}

.logo_box {
  width: 100%;
}


/*----------------------
  NAVIGATION
----------------------*/